<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>William Stewart - Software Developer</title>
    <meta name="description" content="William Stewart - Software Developer and Technical Consultant.">
    <link rel="icon" type="image/png" sizes="80x80" href="assets/img/icons8-user-80.png">
    <link rel="icon" type="image/png" sizes="80x80" href="assets/img/icons8-user-80.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
<link rel="icon" href="icons8-user-80.png">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="index.html">WS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html#projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="cv.html">Resume</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #fff;font-family: Lato,sans-serif;font-weight: 700;">Software</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="trade.html">(In Dev) Stock Trading Platform</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page cv-page">
        <section class="portfolio-block cv">
            <div class="container">
                <div class="work-experience group">
                    <div class="heading">
                        <h2 class="text-center">Professional Experience</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Technical Consultant</h3>
                                <h4 class="organization">Fast Enterprises, LLC.</h4>
                            </div>
                            <div class="col-md-6"><span class="period">08/2017 - Present</span></div>
                        </div>
                        <p class="text-muted">Managed Production SQL databases and Web Servers as a system administrator throughout the successful implementation of an integrated tax software for the California Department of Tax and Fee Administration, a large scale software
                            system now processing over $60 Billion in annual revenue.<br></p>
                        <p class="text-muted">Developed reporting functionality to monitor SLA achievement, track user security changes, and predict annual database growth from dashboards within the application (VB.NET, SQL, HTML, JS, CSS), &nbsp;creating long term monitoring
                            abilities for administrators to better estimate resource costs over time.<br></p>
                        <p class="text-muted">Increased system performance and reliability by leading development best practices and guided 20+ client software developers on writing efficient and reliable code tailored for distributed systems.<br></p>
                        <p class="text-muted">Advanced client’s ADA compliance goals by working with other consultants to develop process to convert PDF letter templates to HTML for use with screen readers.<br></p>
                        <p class="text-muted">Increased application availability by writing scripts to automate failover procedures of application architecture resources in the Disaster Recovery process. (PowerShell, SQL, VMWare SRM)<br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-6">
                                <h3>Software Developer</h3>
                                <h4 class="organization">Fast Enterprises, LLC.</h4>
                            </div>
                            <div class="col-md-6"><span class="period">01/2017 - 08/2017</span></div>
                        </div>
                        <p class="text-muted">Decreased department costs by developing solutions to streamline the distribution of multi-million dollar credits awarded to businesses in New Mexico.<br></p>
                        <p class="text-muted">Extracted project requirements from clients, drafted specifications, and delivered product demonstrations.<br></p>
                        <p class="text-muted">Established trusting relationships with clients throughout user acceptance and regression testing periods.<br></p>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Enterprise Support Intern</h3>
                                <h4 class="organization">Acosta Sales &amp; Marketing.</h4>
                            </div>
                            <div class="col-md-6"><span class="period">05/2014 - 08/2014</span></div>
                        </div>
                        <p class="text-muted">Debugged errors in a distributed enterprise application and resolved interventions across the mobility management platform. (C#, .NET, Java)<br></p>
                    </div>
                </div>
                <div class="education group">
                    <div class="heading">
                        <h2 class="text-center">Education</h2>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Bachelors of Science in Computer Science</h3>
                                <h4 class="organization">Furman University</h4>
                            </div>
                            <div class="col-md-6"><span class="period">08/2016</span></div>
                        </div>
                        <p class="text-muted"><br>Software Engineering, Data Structures &amp; Algorithms, Database Management Systems, Data Communications &amp; Networking, Computational Theory, Discrete Structures, Computer Organization, Independent Study Project in Human
                            Computer Interaction<br><br></p>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="skills portfolio-info-card">
                                <h2>Skills</h2>
                                <h3>Java, SQL, VB.NET</h3>
                                <h3>Javascript, HTML, PHP &amp; CSS</h3>
                                <h3>SQL Server, Windows Server, Ubuntu Server</h3>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info portfolio-info-card">
                                <h2>Contact Info</h2>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-person icon"></i></div>
                                    <div class="col-9"><span>William Stewart</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="icon ion-at icon"></i></div>
                                    <div class="col-9"><span>williamjstew@gmail.com</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hobbies group">
                    <div class="heading">
                        <h2 class="text-center">Interests</h2>
                    </div>
                    <p class="text-center text-muted"><br>I have been passionate about technology since I was young kid and I have always known that I want use it to better the lives of others as much as I can. Please check out&nbsp;<a href="https://flycommunity.org/">FLY Sacramento</a>,
                        a non-profit that I volunteered with to build their website and create a way for them to easily receive donations. When not tinkering with new technologies, I love to be exploring outside with friends and family. I'm an avid hiker
                        and am trying my hand at amateur photography.<br><br></p>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="index.html#skills">About me</a><a href="cv.html">Resume</a><a href="index.html#projects">Projects</a></div>
            <div class="social-icons"><a href="https://www.linkedin.com/in/williamjohnstewart/"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://github.com/william-stewart"><i class="icon ion-social-github"></i></a><a href="https://www.facebook.com/william.stewart.1654"><i class="icon ion-social-facebook"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/communicate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>