<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>William Stewart - Software Developer</title>
    <meta name="description" content="William Stewart - Software Developer and Technical Consultant.">
    <link rel="icon" type="image/png" sizes="80x80" href="assets/img/icons8-user-80.png">
    <link rel="icon" type="image/png" sizes="80x80" href="assets/img/icons8-user-80.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
<link rel="icon" href="icons8-user-80.png">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="index.html">WS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html#projects">Projects</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="cv.html">Resume</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #fff;font-family: Lato,sans-serif;font-weight: 700;">Software</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="trade.html">(In Dev) Stock Trading Platform</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;assets/img/avatars/profile.jpg&quot;);"></div>
                <div class="about-me">
                    <p>Hello! I am <strong>William Stewart</strong>. I work as&nbsp;<br>Technical Consultant and Software Developer with professional expertise in developing backend and frontend code for government software systems and enterprise business
                        applications.<br></p><a class="btn btn-outline-primary" role="button" href="#skills" style="margin-left: 10px;margin-right: 10px;">About me</a><a class="btn btn-outline-primary" role="button" href="cv.html" style="margin-left: 10px;margin-right: 10px;">Resume</a></div>
            </div>
        </section>
        <section class="bg-info portfolio-block skills" id="skills">
            <div class="container">
                <div class="heading">
                    <h2 class="text-light">Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-android-laptop"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Software Development</h3>
                                <p class="card-text">Java, VB.NET, SQL</p>
                                <p class="card-text">JS, PHP, HTML &amp; CSS</p>
                                <p class="card-text">Docker &amp; Kubernetes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-android-person"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Consulting</h3>
                                <p class="card-text">3 years of Technical Consulting experience primarily with government clients including the California Department of Tax and Fee Administration as well as the New Mexico Taxation and Revenue Department.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Systems Administration</h3>
                                <p class="card-text">Windows Server, SQL Server 2016</p>
                                <p class="card-text">Splunk, MySQL, Ubuntu Server<br></p>
                                <p class="card-text">Palo Alto Networks, F5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div id="projects" class="projects-horizontal">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Projects </h2>
                <p class="text-center">A few Professional and Personal Projects that I have worked on over the years.</p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://www.cdtfa.ca.gov/services/cros.htm"><img class="img-fluid" src="assets/img/cdtfa.png"></a></div>
                        <div class="col">
                            <h3 class="name"><strong>Centralized Revenue Opportunity System</strong><br></h3>
                            <p class="description">Developed features and supported the application infrastructure&nbsp;for the CROS application, an integrated tax system processing over $60 Billion in revenue, as a Technical Consultant to the CDTFA.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="trade.html"><img class="img-fluid" src="assets/img/stock.png"></a></div>
                        <div class="col">
                            <h3 class="name"><strong>Automated Stock Trading Platform</strong><br></h3>
                            <p class="description">Building the full stack for an automated stock trading platform based on configurable trading strategies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a href="https://flycommunity.org/"><img class="img-fluid" src="assets/img/fly-screencap.png"></a></div>
                        <div class="col">
                            <h3 class="name">First Love Yourself, Sacramento</h3>
                            <p class="description">Created a website with donation functionality for FLY, a Sacramento based non-profit that provides self-love lesson plans for youth and marginalized communities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a><img class="img-fluid" src="assets/img/greek.png"></a></div>
                        <div class="col">
                            <h3 class="name">Ancient Greek Predictive Text System</h3>
                            <p class="description">Designed a predictive text algorithm and distributed it across a cluster of computers to help students type in Ancient Greek.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a><img class="img-fluid" src="assets/img/zombie_screencap2.png"></a></div>
                        <div class="col">
                            <h3 class="name">Infectious Disease Android App</h3>
                            <p class="description">Built an Android application, API, and server side backend in Java for an Infectious Disease transmission game that aimed to prove the viability of large-scale, mobile based health trend reporting.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 item">
                    <div class="row">
                        <div class="col-md-12 col-lg-5"><a><img class="img-fluid" src="assets/img/mock-screencap.png"></a></div>
                        <div class="col">
                            <h3 class="name">Virtual Mock Interview Application</h3>
                            <p class="description">Wrote a program in Python to remotely control a 3D environment that users interacted with to prepare for interviews and was intended to train and support people with Autism Spectrum Disorder for real-world interviews.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Personal Project Hosting Platform</h3>
                    <p>In addition to the above projects, I created this website utilizing Node.js, Express, &amp; Bootstrap and deployed it using Docker and Kubernetes to provide a platform for me to launch and share my personal projects.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/project-screencap.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="index.html#skills">About me</a><a href="cv.html">Resume</a><a href="index.html#projects">Projects</a></div>
            <div class="social-icons"><a href="https://www.linkedin.com/in/williamjohnstewart/"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://github.com/william-stewart"><i class="icon ion-social-github"></i></a><a href="https://www.facebook.com/william.stewart.1654"><i class="icon ion-social-facebook"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/communicate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>